<?xml version="1.0"?>
<!--
Copyright 2006, 2008, 2023 Eric Smith <swpacewar@gmail.com>
-->

<!DOCTYPE calcdef SYSTEM "http://nonpareil.brouhaha.com/dtd/calcdef-1.0.dtd">

<calcdef version="1.0"
	 arch="Classic"
	 platform="Classic"
	 model="35-old"
         copyright="Copyright 2006, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
         license="GPL-3.0">

  <chip id="ctc" type="classic_ctc">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0078</part_number>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
      <part_number>MK6021P</part_number>
    </part_info>
  </chip>

  <chip id="arc" type="classic_arc">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1169</part_number>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
      <part_number>MK6020P</part_number>
    </part_info>
  </chip>

  <chip type="classic_clock_driver">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1128</part_number>
    </part_info>
    <inst_clock osc_type="LC" freq="196000"/>
  </chip>

  <chip type="classic_cathode_driver">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1226</part_number>
    </part_info>
  </chip>

  <chip id="anode_driver" type="classic_anode_driver">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1029</part_number>
    </part_info>
    <chargen type="segment" count="8">
      <char id="'0'">abcdef..</char>
      <char id="'1'">.bc.....</char>
      <char id="'2'">ab.de.g.</char>
      <char id="'3'">abcd..g.</char>
      <char id="'4'">.bc..fg.</char>
      <char id="'5'">a.cd.fg.</char>
      <char id="'6'">a.cdefg.</char>
      <char id="'7'">abc.....</char>
      <char id="'8'">abcdefg.</char>
      <char id="'9'">abcd.fg.</char>
      <char id="' '">........</char>
      <char id="'-'">......g.</char>
      <char id="'.'">.......h</char>
    </chargen>
  </chip>

  <chip id="rom_0" type="classic_rom">
    <memory addr_space="inst" banks="0" base_addr="00000" size="00400">
    </memory>
  </chip>

  <chip id="rom_1" type="classic_rom">
    <memory addr_space="inst" banks="0" base_addr="00400" size="00400">
    </memory>
  </chip>

  <chip id="rom_2" type="classic_rom">
    <memory addr_space="inst" banks="0" base_addr="01000" size="00400">
    </memory>
  </chip>

  <keyboard>

    <!-- power switch -->
    <!--
    <switch number="0">
      <switch_pos position="0">
      </switch_pos>
      <switch_pos position="1">
      </switch_pos>
    </switch>
    -->

    <key user_keycode="11" hw_keycode="006"/> <!-- x^y     -->
    <key user_keycode="12" hw_keycode="004"/> <!-- LOG     -->
    <key user_keycode="13" hw_keycode="003"/> <!-- LN      -->
    <key user_keycode="14" hw_keycode="002"/> <!-- e^x     -->
    <key user_keycode="15" hw_keycode="000"/> <!-- CLR     -->

    <key user_keycode="21" hw_keycode="056"/> <!-- sqrt(x) -->
    <key user_keycode="22" hw_keycode="054"/> <!-- ARC     -->
    <key user_keycode="23" hw_keycode="053"/> <!-- SIN     -->
    <key user_keycode="24" hw_keycode="052"/> <!-- COS     -->
    <key user_keycode="25" hw_keycode="050"/> <!-- TAN     -->

    <key user_keycode="31" hw_keycode="016"/> <!-- 1/x     -->
    <key user_keycode="32" hw_keycode="014"/> <!-- x<>y    -->
    <key user_keycode="33" hw_keycode="013"/> <!-- Rdn     -->
    <key user_keycode="34" hw_keycode="012"/> <!-- STO     -->
    <key user_keycode="35" hw_keycode="010"/> <!-- RCL     -->

    <key user_keycode="41" hw_keycode="076"/> <!-- ENTER^  -->
    <key user_keycode="42" hw_keycode="073"/> <!-- CHS     -->
    <key user_keycode="43" hw_keycode="072"/> <!-- EEX     -->
    <key user_keycode="44" hw_keycode="070"/> <!-- CLx     -->

    <key user_keycode="51" hw_keycode="066"/> <!-- -       -->
    <key user_keycode="52" hw_keycode="064"/> <!-- 7       -->
    <key user_keycode="53" hw_keycode="063"/> <!-- 8       -->
    <key user_keycode="54" hw_keycode="062"/> <!-- 9       -->

    <key user_keycode="61" hw_keycode="026"/> <!-- +       -->
    <key user_keycode="62" hw_keycode="024"/> <!-- 4       -->
    <key user_keycode="63" hw_keycode="023"/> <!-- 5       -->
    <key user_keycode="64" hw_keycode="022"/> <!-- 6       -->

    <key user_keycode="71" hw_keycode="036"/> <!-- *       -->
    <key user_keycode="72" hw_keycode="034"/> <!-- 3       -->
    <key user_keycode="73" hw_keycode="033"/> <!-- 2       -->
    <key user_keycode="74" hw_keycode="032"/> <!-- 1       -->

    <key user_keycode="81" hw_keycode="046"/> <!-- /       -->
    <key user_keycode="82" hw_keycode="044"/> <!-- 0       -->
    <key user_keycode="83" hw_keycode="043"/> <!-- .       -->
    <key user_keycode="84" hw_keycode="042"/> <!-- pi      -->
  </keyboard>

  <obj_file addr_space="inst"
            copyright="Copyright 2006, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
            license="GPL-3.0">35-old.obj</obj_file>

</calcdef>
