<?xml version="1.0"?>
<!--
Copyright 2007, 2008, 2022 Eric Smith <spacewar@gmail.com>
-->

<!DOCTYPE calcdef SYSTEM "http://nonpareil.brouhaha.com/dtd/calcdef-1.0.dtd">

<calcdef version="1.0"
         arch="Woodstock"
         platform="Woodstock"
         model="29C"
         copyright="Copyright 2007, 2008, 2022 Eric Smith &lt;spacewar@gmail.com&gt;"
         license="GPL-3.0">

  <chip id="act" type="woodstock_act">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1596</part_number>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
      <part_number>MK6216N</part_number>
    </part_info>
    <inst_clock osc_type="LC" freq="185000"/>
  </chip>

  <chip id="cathode_driver" type="woodstock_cathode_driver_12">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1382</part_number>
    </part_info>
  </chip>

  <chip id="rom_0_anode_driver" type="woodstock_rom_anode_driver">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0431</part_number>
    </part_info>
    <part_info>
      <vendor_name>AMI</vendor_name>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="00000" size="02000">
    </memory>
    <chargen type="segment" count="8">
      <char id="0x00">abcdef..</char>
      <char id="0x01">.bc.....</char>
      <char id="0x02">ab.de.g.</char>
      <char id="0x03">abcd..g.</char>
      <char id="0x04">.bc..fg.</char>
      <char id="0x05">a.cd.fg.</char>
      <char id="0x06">a.cdefg.</char>
      <char id="0x07">abc.....</char>
      <char id="0x08">abcdefg.</char>
      <char id="0x09">abcd.fg.</char>
      <char id="0x0a">....e.g.</char>  <!-- r -->
      <char id="0x0b">a...efg.</char>  <!-- F -->
      <char id="0x0c">..cde.g.</char>  <!-- o -->
      <char id="0x0d">ab..efg.</char>  <!-- P -->
      <char id="0x0e">a..defg.</char>  <!-- E -->
      <char id="0x0f">........</char>  <!-- space -->
      <char id="' '" >........</char>
      <char id="'-'" >......g.</char>
      <char id="'.'" >.......h</char>
    </chargen>
  </chip>

  <chip id="rom_ram_1" type="woodstock_rom_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0379</part_number>
    </part_info>
    <part_info>
      <vendor_name>AMI</vendor_name>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
      <part_number>MK60142N</part_number>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="02000" size="02000">
    </memory>
    <memory addr_space="data" base_addr="0x00" size="0x10">
    </memory>
  </chip>

  <chip id="rom_2" type="woodstock_rom">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0377</part_number>
    </part_info>
    <part_info>
      <vendor_name>AMI</vendor_name>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="04000" size="02000">
    </memory>
  </chip>

  <chip id="rom_3" type="woodstock_rom">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0376</part_number>
    </part_info>
    <part_info>
      <vendor_name>AMI</vendor_name>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="06000" size="02000">
    </memory>
  </chip>

  <chip id="ram_0" type="woodstock_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>5061-0469</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x10" size="0x10">
    </memory>
  </chip>

  <chip id="ram_0" type="woodstock_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>5061-0469</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x20" size="0x10">
    </memory>
  </chip>

  <keyboard>

    <!-- power switch -->
    <!--
    <switch number="0">
      <switch_pos position="0">
      </switch_pos>
      <switch_pos position="1">
      </switch_pos>
    </switch>
    -->

    <switch number="1">
      <switch_pos position="0">  <!-- "PRGM" -->
        <flag chip_id="act" number="f2" value="0"/>
      </switch_pos>
      <switch_pos position="1">  <!-- "RUN" -->
        <flag chip_id="act" number="f2" value="1"/>
      </switch_pos>
    </switch>

    <key user_keycode="11" hw_keycode="0263"/>  <!-- SST/FIX/BST -->
    <key user_keycode="12" hw_keycode="0262"/>  <!-- GSB/SCI/RTN -->
    <key user_keycode="13" hw_keycode="0261"/>  <!-- GTO/ENG/LBL -->
    <key user_keycode="14" hw_keycode="0260"/>  <!-- f -->
    <key user_keycode="15" hw_keycode="0264"/>  <!-- g -->

    <key user_keycode="21" hw_keycode="0103"/>  <!-- x<>y/xbar/% -->
    <key user_keycode="22" hw_keycode="0102"/>  <!-- RDN/s/i -->
    <key user_keycode="23" hw_keycode="0101"/>  <!-- STO/unused/DSZ -->
    <key user_keycode="24" hw_keycode="0100"/>  <!-- RCL/unused/ISZ -->
    <key user_keycode="25" hw_keycode="0104"/>  <!-- Sigma+/Sigma-/DEL -->

    <key user_keycode="31" hw_keycode="0323"/>  <!-- ENTER^/CLR PREFIX/unused -->
    <key user_keycode="32" hw_keycode="0321"/>  <!-- CHS/CLR PRGM/GRD -->
    <key user_keycode="33" hw_keycode="0320"/>  <!-- EEX/CLR REG/RAD -->
    <key user_keycode="34" hw_keycode="0324"/>  <!-- CLx/CLR Sigma/DEG -->

    <key user_keycode="41" hw_keycode="0143"/>  <!-- minus/x<=y/x<0 -->
    <key user_keycode="42" hw_keycode="0142"/>  <!-- 7/ln/e^x -->
    <key user_keycode="43" hw_keycode="0141"/>  <!-- 8/log/10^x -->
    <key user_keycode="44" hw_keycode="0140"/>  <!-- 9/->R/->P -->

    <key user_keycode="51" hw_keycode="0243"/>  <!-- plus/x>y/x>=0 -->
    <key user_keycode="52" hw_keycode="0242"/>  <!-- 4/sin/arcsin -->
    <key user_keycode="53" hw_keycode="0241"/>  <!-- 5/cos/arccos -->
    <key user_keycode="54" hw_keycode="0240"/>  <!-- 6/tan/arctan -->

    <key user_keycode="61" hw_keycode="0163"/>  <!-- times/x!=y/x!=0 -->
    <key user_keycode="62" hw_keycode="0162"/>  <!-- 1/INT/FRAC -->
    <key user_keycode="63" hw_keycode="0161"/>  <!-- 2/sqrt(x)/x^2 -->
    <key user_keycode="64" hw_keycode="0160"/>  <!-- 3/y^x/ABS -->

    <key user_keycode="71" hw_keycode="0223"/>  <!-- divide/x=y/x=0 -->
    <key user_keycode="72" hw_keycode="0222"/>  <!-- 0/->H.MS/->H -->
    <key user_keycode="73" hw_keycode="0221"/>  <!-- decimal/LASTx/pi -->
    <key user_keycode="74" hw_keycode="0220"/>  <!-- R/S/PAUSE/1/x -->
  </keyboard>

  <obj_file addr_space="inst"
            copyright="Copyright 2007, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
            license="GPLv3">29c.obj</obj_file>

  <obj_file addr_space="inst"
            copyright="Copyright 2007, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
            license="GPLv3">19c29c.obj</obj_file>

  <obj_file addr_space="inst"
            copyright="Copyright 2007, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
            license="GPLv3">19c29cq3.obj</obj_file>

</calcdef>
