<?xml version="1.0"?>
<!-- $Id$ -->
<!-- Copyright 2006, 2008 Eric Smith <eric@brouhaha.com> -->
<!-- This file is NOT licensed under the GPL (any version) -->
<!-- See the file COPYING for licensing details. -->

<!DOCTYPE calcdef SYSTEM "http://nonpareil.brouhaha.com/dtd/calcdef.dtd">

<calcdef version="1.0" arch="Classic" platform="Classic" model="45">

  <keyboard>

    <switch number="0">
      <switch_pos position="0" flag="power" value="0"/>
      <switch_pos position="1" flag="power" value="1"/>
    </switch>

    <key user_keycode="11" hw_keycode="006"/>
    <key user_keycode="12" hw_keycode="004"/>
    <key user_keycode="13" hw_keycode="003"/>
    <key user_keycode="14" hw_keycode="002"/>
    <key user_keycode="15" hw_keycode="000"/>

    <key user_keycode="21" hw_keycode="056"/>
    <key user_keycode="22" hw_keycode="054"/>
    <key user_keycode="23" hw_keycode="053"/>
    <key user_keycode="24" hw_keycode="052"/>
    <key user_keycode="25" hw_keycode="050"/>

    <key user_keycode="31" hw_keycode="016"/>
    <key user_keycode="32" hw_keycode="014"/>
    <key user_keycode="33" hw_keycode="013"/>
    <key user_keycode="34" hw_keycode="012"/>
    <key user_keycode="35" hw_keycode="010"/>

    <key user_keycode="41" hw_keycode="076"/>
    <key user_keycode="-41" hw_keycode="074"/>
    <key user_keycode="42" hw_keycode="073"/>
    <key user_keycode="43" hw_keycode="072"/>
    <key user_keycode="44" hw_keycode="070"/>

    <key user_keycode="51" hw_keycode="066"/>
    <key user_keycode="52" hw_keycode="064"/>
    <key user_keycode="53" hw_keycode="063"/>
    <key user_keycode="54" hw_keycode="062"/>

    <key user_keycode="61" hw_keycode="026"/>
    <key user_keycode="62" hw_keycode="024"/>
    <key user_keycode="63" hw_keycode="023"/>
    <key user_keycode="64" hw_keycode="022"/>

    <key user_keycode="71" hw_keycode="036"/>
    <key user_keycode="72" hw_keycode="034"/>
    <key user_keycode="73" hw_keycode="033"/>
    <key user_keycode="74" hw_keycode="032"/>

    <key user_keycode="81" hw_keycode="046"/>
    <key user_keycode="82" hw_keycode="044"/>
    <key user_keycode="83" hw_keycode="043"/>
    <key user_keycode="84" hw_keycode="042"/>
  </keyboard>

  <chip name="CTC">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0078</part_number>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
      <part_number>MK6021P</part_number>
    </part_info>
  </chip>

  <chip name="ARC">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1169</part_number>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
      <part_number>MK6020P</part_number>
    </part_info>
  </chip>

  <chip name="clock driver">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1128</part_number>
    </part_info>
  </chip>

  <chip name="cathode driver">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1226</part_number>
    </part_info>
  </chip>

  <chip name="anode driver">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1029</part_number>
    </part_info>
    <chargen>
      <char id="0x00" segments="abcdef  " />
      <char id="0x01" segments=" bc     " />
      <char id="0x02" segments="ab de g " />
      <char id="0x03" segments="abcd  g " />
      <char id="0x04" segments=" bc  fg " />
      <char id="0x05" segments="a cd fg " />
      <char id="0x06" segments="a cdefg " />
      <char id="0x07" segments="abc     " />
      <char id="0x08" segments="abcdefg " />
      <char id="0x09" segments="abcd fg " />
      <char id=" "    segments="        " />
      <char id="-"    segments="      g " />
      <char id="."    segments="       h" />
    </chargen>
  </chip>

  <chip name="ram">
    <memory addr_space="data" base_addr="0" size="10">
    </memory>
  </chip>

  <chip name="rom">
    <memory addr_space="inst" banks="0" base_addr="00000" size="02000">
    </memory>
  </chip>

  <chip name="rom">
    <memory addr_space="inst" banks="0" base_addr="02000" size="02000">
    </memory>
  </chip>

  <obj_file addr_space="inst"
            copyright="Copyright 2006, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
            license="GPLv3">
    45.obj
  </obj_file>

</calcdef>
