<?xml version="1.0"?>
<!--
$Id$
Copyright 2006, 2008 Eric Smith <eric@brouhaha.com>
-->

<!DOCTYPE calcdef SYSTEM "http://nonpareil.brouhaha.com/dtd/calcdef-1.0.dtd">

<calcdef version="1.0"
         arch="Nut"
         platform="Coconut"
         model="41cv"
         copyright="Copyright 2006, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
         license="CC-BY-SA-3.0">

  <chip type="nut_cpu">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LA5-0001</part_number>
    </part_info>
    <inst_clock osc_type="LC" freq="375200"/>
  </chip>

  <chip type="nut_rom">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LA3</part_number>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="0x0000" size="0x1000">
    </memory>
  </chip>

  <chip type="nut_rom">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LA3</part_number>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="0x1000" size="0x1000">
    </memory>
  </chip>

  <chip type="nut_rom">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LA3</part_number>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="0x2000" size="0x1000">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LA7-0001</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x000" size="0x10">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LE7-0001</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x0c0" size="0x40">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LE7-0002</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x100" size="0x40">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LE7-0003</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x140" size="0x40">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LE7-0004</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x180" size="0x40">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LE7-0005</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x1c0" size="0x40">
    </memory>
  </chip>

  <chip id="coconut_lcd_0" type="coconut_lcd" index="0">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LA4</part_number>
    </part_info>
    <chargen type="segment" count="14">  
      <char id="0x00" print="@"      >ab.def.hi.....</char>
      <char id="0x01" print="A"      >abc.efgh......</char>
      <char id="0x02" print="B"      >abcd...hij....</char>
      <char id="0x03" print="C"      >a..def........</char>
      <char id="0x04" print="D"      >abcd....ij....</char>
      <char id="0x05" print="E"      >a..defgh......</char>
      <char id="0x06" print="F"      >a...efgh......</char>
      <char id="0x07" print="G"      >a.cdef.h......</char>
      <char id="0x08" print="H"      >.bc.efgh......</char>
      <char id="0x09" print="I"      >a..d....ij....</char>
      <char id="0x0a" print="J"      >.bcde.........</char>
      <char id="0x0b" print="K"      >....efg...k.m.</char>
      <char id="0x0c" print="L"      >...def........</char>
      <char id="0x0d" print="M"      >.bc.ef....kl..</char>
      <char id="0x0e" print="N"      >.bc.ef.....lm.</char>
      <char id="0x0f" print="O"      >abcdef........</char>
      <char id="0x10" print="P"      >ab..efgh......</char>
      <char id="0x11" print="Q"      >abcdef......m.</char>
      <char id="0x12" print="R"      >ab..efgh....m.</char>
      <char id="0x13" print="S"      >a.cd.fgh......</char>
      <char id="0x14" print="T"      >a.......ij....</char>
      <char id="0x15" print="U"      >.bcdef........</char>
      <char id="0x16" print="V"      >....ef....k..n</char>
      <char id="0x17" print="W"      >.bc.ef......mn</char>
      <char id="0x18" print="X"      >..........klmn</char>
      <char id="0x19" print="Y"      >.........jkl..</char>
      <char id="0x1a" print="Z"      >a..d......k..n</char>
      <char id="0x1b" print="["      >a..def........</char>
      <char id="0x1c" print="\"      >...........lm.</char>
      <char id="0x1d" print="]"      >abcd..........</char>
      <char id="0x1e" print="?"      >ab........k..n</char>
      <char id="0x1f" print="_"      >...d..........</char>
      <char id="0x20" print=" "      >..............</char>
      <char id="0x21" print="!"      >........ij....</char>
      <char id="0x22" print="&quot;" >.....f..i.....</char>  <!-- ??? -->
      <char id="0x23" print="#"      >.bcd..ghij....</char>
      <char id="0x24" print="$"      >a.cd.fghij....</char>
      <char id="0x25" print="%"      >..c..fgh..klmn</char>
      <char id="0x26" print="&amp;"  >a.cd......klmn</char>
      <char id="0x27" print="'"      >........i.....</char>
      <char id="0x28" print="("      >..........k.m.</char>
      <char id="0x29" print=")"      >...........l.n</char>
      <char id="0x2a" print="*"      >......ghijklmn</char>
      <char id="0x2b" print="+"      >......ghij....</char>
      <char id="0x2c" print="?"      >......gh..k.m.</char>  <!-- left goose -->
      <char id="0x2d" print="-"      >......gh......</char>
      <char id="0x2e" print="?"      >......gh...l.n</char>  <!-- right goose -->
      <char id="0x2f" print="/"      >..........k..n</char>
      <char id="0x30" print="0"      >abcdef....k..n</char>  <!-- zero with slash to distinguish from letter O -->
      <char id="0x31" print="1"      >.bc...........</char>
      <char id="0x32" print="2"      >ab.de.gh......</char>
      <char id="0x33" print="3"      >abcd..gh......</char>
      <char id="0x34" print="4"      >.bc..fgh......</char>
      <char id="0x35" print="5"      >a.cd...h...l..</char>
      <char id="0x36" print="6"      >a.cdefgh......</char>
      <char id="0x37" print="7"      >abc...........</char>
      <char id="0x38" print="8"      >abcdefgh......</char>
      <char id="0x39" print="9"      >abcd.fgh......</char>
      <char id="0x3a" print="?"      >abcdefghijklmn</char>  <!-- starburst, all segments on -->
      <char id="0x3b" print=";"      >......g......n</char>
      <char id="0x3c" print="&lt;"   >...d......k..n</char>
      <char id="0x3d" print="="      >...d..gh......</char>
      <char id="0x3e" print="&gt;"   >...d.......lm.</char>
      <char id="0x3f" print="?"      >ab...f.h.j....</char>
      <char id="0x40" print="?"      >....efgh......</char>  <!-- APP lazy T -->
      <char id="0x41" print="a"      >..cde.g.....m.</char>
      <char id="0x42" print="b"      >..cdefgh......</char>
      <char id="0x43" print="c"      >...de.gh......</char>
      <char id="0x44" print="d"      >.bcde.gh......</char>
      <char id="0x45" print="e"      >...de.g.......</char>
      <char id="0x46" print="?"      >a.............</char>  <!-- OVE overbar (hangman character - head only) -->
      <char id="0x47" print="?"      >a.......i.....</char>  <!-- SUP high-T (hangman head and neck/torso) -->
      <char id="0x48" print="?"      >a.......i....n</char>  <!-- HAN hangman with left leg -->
      <char id="0x49" print="?"      >a.......i...mn</char>  <!-- HAN hangman with left, right legs -->
      <char id="0x4a" print="?"      >a.....g.i...mn</char>  <!-- HAN hangman with both legs, left arm -->
      <char id="0x4b" print="?"      >a.....ghi...mn</char>  <!-- HAN full hangman -->
      <char id="0x4c" print="?"      >.b.....hi....n</char>  <!-- MIC Greek mu -->
      <char id="0x4d" print="?"      >...d..gh..k..n</char>  <!-- NOT not equal -->
      <char id="0x4e" print="?"      >a..d.......l.n</char>  <!-- SIG Greek Sigma -->
      <char id="0x4f" print="?"      >...d.....jk..n</char>  <!-- ANG angle symbol -->

<!-- Halfnut models have extra characters from 0x50 through 0x7f, which
     display as spaces on fullnuts.  See CHHU Chronicle V2N4 for details. -->

      <char id="0x50" print="?"      >......gh....mn</char>  <!-- DC1 Greek pi -->
      <char id="0x51" print="?"      >...d........mn</char>  <!-- BEL Greek alpha -->
      <char id="0x52" print="?"      >a..d..g...k.mn</char>  <!-- BAC Greek beta -->
      <char id="0x53" print="?"      >......gh.j....</char>  <!-- HTA Greek gamma -->
      <char id="0x54" print="?"      >.....fgh.j..m.</char>  <!-- UN unknown -->
      <char id="0x55" print="?"      >....e.gh.....n</char>  <!-- VTA Greek sigma -->
      <char id="0x56" print="?"      >a.............</char>  <!-- OVE overbar (hangman character - head only) (duplicate of 0x46) -->
      <char id="0x57" print="?"      >ab..ef........</char>  <!-- ESC Greek gamma -->
      <char id="0x58" print="?"      >a.......i....n</char>  <!-- HAN hangman with left leg (duplicate of 0x48) -->
      <char id="0x59" print="?"      >a.......i...mn</char>  <!-- HAN hangman with left, right legs (duplicate of 0x49) -->
      <char id="0x5a" print="?"      >a.....g.i...mn</char>  <!-- HAN hangman with both legs, left arm (duplicate of 0x4a) -->
      <char id="0x5b" print="?"      >a.....ghi...mn</char>  <!-- HAN full hangman (duplicate of 0x4b) -->
      <char id="0x5c" print="?"      >.b.....hi....n</char>  <!-- MIC Greek mu (duplicate of 0x4c) -->
      <char id="0x5d" print="?"      >...d..gh..k..n</char>  <!-- NOT not equal (duplicate of 0x4d) -->
      <char id="0x5e" print="?"      >...........lmn</char>  <!-- DC3 Greek lamda -->
      <char id="0x5f" print="?"      >...d.....jk..n</char>  <!-- ANG angle symbol (duplicate of 0x4f) -->
      <char id="0x60" print="?"      >a.......i.....</char>  <!-- SUP high-T (hangman head and neck/torso) (duplicate of 0x47) -->
      <char id="0x61" print="a"      >..cde.g.....m.</char>  <!-- duplicate of 0x41 -->
      <char id="0x62" print="b"      >..cdefgh......</char>  <!-- duplicate of 0x42 -->
      <char id="0x63" print="c"      >...de.gh......</char>  <!-- duplicate of 0x43 -->
      <char id="0x64" print="d"      >.bcde.gh......</char>  <!-- duplicate of 0x44 -->
      <char id="0x65" print="e"      >...de.g.......</char>  <!-- duplicate of 0x45 -->
      <char id="0x66" print="f"      >.......h.jk...</char>
      <char id="0x67" print="g"      >..cd...h....m.</char>
      <char id="0x68" print="h"      >..c.efgh......</char>
      <char id="0x69" print="i"      >....e.........</char>
      <char id="0x6a" print="j"      >..cd..........</char>
      <char id="0x6b" print="k"      >....efgh....m.</char>
      <char id="0x6c" print="l"      >....ef........</char>
      <char id="0x6d" print="m"      >..c...gh.j....</char>
      <char id="0x6e" print="n"      >..c...gh......</char>
      <char id="0x6f" print="o"      >..cde.gh......</char>
      <char id="0x70" print="p"      >....efg....l..</char>
      <char id="0x71" print="q"      >.....fg....lm.</char>
      <char id="0x72" print="r"      >....e.gh......</char>
      <char id="0x73" print="s"      >...d...h....m.</char>
      <char id="0x74" print="t"      >......ghi...m.</char>
      <char id="0x75" print="u"      >..cde.........</char>
      <char id="0x76" print="v"      >....e........n</char>
      <char id="0x77" print="w"      >....e........n</char>
      <char id="0x78" print="x"      >......gh.j...n</char>
      <char id="0x79" print="y"      >..cd........m.</char>
      <char id="0x7a" print="z"      >...d..g......n</char>
      <char id="0x7b" print="{"      >.......h..k.m.</char>  <!-- LEF left brace -->
      <char id="0x7c" print="?"      >...d......k.mn</char>  <!-- DEL delta -->
      <char id="0x7d" print=")"      >......g....l.n</char>  <!-- RIG right brace -->
      <char id="0x7e" print="?"      >a..d.......l.n</char>  <!-- duplicate of 0x4e -->
      <char id="0x7f" print="?"      >....efgh......</char>  <!-- duplicate of 0x40 -->
    </chargen>
  </chip>

  <chip id="coconut_lcd_1" type="coconut_lcd" index="1">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LA4</part_number>
    </part_info>
    <!-- second LCD chip is actually modelled as part of first, so no
         chargen element is needed here -->
  </chip>

  <keyboard>
    <key user_keycode="01" hw_keycode="0x18"/>
    <key user_keycode="02" hw_keycode="0xc6"/>
    <key user_keycode="03" hw_keycode="0xc5"/>
    <key user_keycode="04" hw_keycode="0xc4"/>

    <key user_keycode="11" hw_keycode="0x10"/>
    <key user_keycode="12" hw_keycode="0x30"/>
    <key user_keycode="13" hw_keycode="0x70"/>
    <key user_keycode="14" hw_keycode="0x80"/>
    <key user_keycode="15" hw_keycode="0xc0"/>

    <key user_keycode="21" hw_keycode="0x11"/>
    <key user_keycode="22" hw_keycode="0x31"/>
    <key user_keycode="23" hw_keycode="0x71"/>
    <key user_keycode="24" hw_keycode="0x81"/>
    <key user_keycode="25" hw_keycode="0xc1"/>

    <key user_keycode="31" hw_keycode="0x12"/>
    <key user_keycode="32" hw_keycode="0x32"/>
    <key user_keycode="33" hw_keycode="0x72"/>
    <key user_keycode="34" hw_keycode="0x82"/>
    <key user_keycode="35" hw_keycode="0xc2"/>

    <key user_keycode="41" hw_keycode="0x13"/>
    <key user_keycode="42" hw_keycode="0x73"/>
    <key user_keycode="43" hw_keycode="0x83"/>
    <key user_keycode="44" hw_keycode="0xc3"/>

    <key user_keycode="51" hw_keycode="0x14"/>
    <key user_keycode="52" hw_keycode="0x34"/>
    <key user_keycode="53" hw_keycode="0x74"/>
    <key user_keycode="54" hw_keycode="0x84"/>

    <key user_keycode="61" hw_keycode="0x15"/>
    <key user_keycode="62" hw_keycode="0x35"/>
    <key user_keycode="63" hw_keycode="0x75"/>
    <key user_keycode="64" hw_keycode="0x85"/>

    <key user_keycode="71" hw_keycode="0x16"/>
    <key user_keycode="72" hw_keycode="0x36"/>
    <key user_keycode="73" hw_keycode="0x76"/>
    <key user_keycode="74" hw_keycode="0x86"/>

    <key user_keycode="81" hw_keycode="0x17"/>
    <key user_keycode="82" hw_keycode="0x37"/>
    <key user_keycode="83" hw_keycode="0x77"/>
    <key user_keycode="84" hw_keycode="0x87"/>
  </keyboard>

  <obj_file addr_space="inst"
            copyright="Copyright 2006, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
            license="CC-BY-SA-3.0">
    41-gff.obj
  </obj_file>
</calcdef>

