<?xml version="1.0"?>
<!--
$Id$
Copyright 2006, 2008 Eric Smith <eric@brouhaha.com>
-->

<!DOCTYPE calcdef SYSTEM "http://nonpareil.brouhaha.com/dtd/calcdef-1.0.dtd">

<calcdef version="1.0"
         arch="Nut"
         platform="Coconut"
         model="41cx"
         copyright="Copyright 2006, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
         license="CC-BY-SA-3.0">

  <chip type="nut_cpu">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LA5-0001</part_number>
    </part_info>
    <inst_clock osc_type="LC" freq="375200"/>
  </chip>

  <chip type="nut_rom">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LG9</part_number>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="0x0000" size="0x3000">
    </memory>
  </chip>

  <chip type="nut_rom">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LG9</part_number>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="0x3000" size="0x1000">
    </memory>
    <memory addr_space="inst" banks="0" base_addr="0x5000" size="0x1000">
    </memory>
    <memory addr_space="inst" banks="1" base_addr="0x5000" size="0x1000">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LA7-0001</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x000" size="0x10">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LE7-0001</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x0c0" size="0x40">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LE7-0002</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x100" size="0x40">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LE7-0003</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x140" size="0x40">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LE7-0004</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x180" size="0x40">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LE7-0005</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x1c0" size="0x40">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LE7-0006</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x040" size="0x40">
    </memory>
  </chip>

  <chip type="nut_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LE7-0007</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x080" size="0x40">
    </memory>
  </chip>

  <chip id="coconut_lcd_0" type="coconut_lcd" index="0">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LA4</part_number>
    </part_info>
    <chargen type="segment" count="14">
      <char id="0x00" text="@"      >ab.def.hi.....</char>
      <char id="0x01" text="A"      >abc.efgh......</char>
      <char id="0x02" text="B"      >abcd...hij....</char>
      <char id="0x03" text="C"      >a..def........</char>
      <char id="0x04" text="D"      >abcd....ij....</char>
      <char id="0x05" text="E"      >a..defgh......</char>
      <char id="0x06" text="F"      >a...efgh......</char>
      <char id="0x07" text="G"      >a.cdef.h......</char>
      <char id="0x08" text="H"      >.bc.efgh......</char>
      <char id="0x09" text="I"      >a..d....ij....</char>
      <char id="0x0a" text="J"      >.bcde.........</char>
      <char id="0x0b" text="K"      >....efg...k.m.</char>
      <char id="0x0c" text="L"      >...def........</char>
      <char id="0x0d" text="M"      >.bc.ef....kl..</char>
      <char id="0x0e" text="N"      >.bc.ef.....lm.</char>
      <char id="0x0f" text="O"      >abcdef........</char>
      <char id="0x10" text="P"      >ab..efgh......</char>
      <char id="0x11" text="Q"      >abcdef......m.</char>
      <char id="0x12" text="R"      >ab..efgh....m.</char>
      <char id="0x13" text="S"      >a.cd.fgh......</char>
      <char id="0x14" text="T"      >a.......ij....</char>
      <char id="0x15" text="U"      >.bcdef........</char>
      <char id="0x16" text="V"      >....ef....k..n</char>
      <char id="0x17" text="W"      >.bc.ef......mn</char>
      <char id="0x18" text="X"      >..........klmn</char>
      <char id="0x19" text="Y"      >.........jkl..</char>
      <char id="0x1a" text="Z"      >a..d......k..n</char>
      <char id="0x1b" text="["      >a..def........</char>
      <char id="0x1c" text="\"      >...........lm.</char>
      <char id="0x1d" text="]"      >abcd..........</char>
      <char id="0x1e" text="?"      >ab........k..n</char>
      <char id="0x1f" text="_"      >...d..........</char>
      <char id="0x20" text=" "      >..............</char>
      <char id="0x21" text="!"      >........ij....</char>
      <char id="0x22" text="&quot;" >.....f..i.....</char>  <!-- ??? -->
      <char id="0x23" text="#"      >.bcd..ghij....</char>
      <char id="0x24" text="$"      >a.cd.fghij....</char>
      <char id="0x25" text="%"      >..c..fgh..klmn</char>
      <char id="0x26" text="&amp;"  >a.cd......klmn</char>
      <char id="0x27" text="'"      >........i.....</char>
      <char id="0x28" text="("      >..........k.m.</char>
      <char id="0x29" text=")"      >...........l.n</char>
      <char id="0x2a" text="*"      >......ghijklmn</char>
      <char id="0x2b" text="+"      >......ghij....</char>
      <char id="0x2c" text="?"      >......gh..k.m.</char>  <!-- left goose -->
      <char id="0x2d" text="-"      >......gh......</char>
      <char id="0x2e" text="?"      >......gh...l.n</char>  <!-- right goose -->
      <char id="0x2f" text="/"      >..........k..n</char>
      <char id="0x30" text="0"      >abcdef....k..n</char>  <!-- zero with slash to distinguish from letter O -->
      <char id="0x31" text="1"      >.bc...........</char>
      <char id="0x32" text="2"      >ab.de.gh......</char>
      <char id="0x33" text="3"      >abcd..gh......</char>
      <char id="0x34" text="4"      >.bc..fgh......</char>
      <char id="0x35" text="5"      >a.cd...h...l..</char>
      <char id="0x36" text="6"      >a.cdefgh......</char>
      <char id="0x37" text="7"      >abc...........</char>
      <char id="0x38" text="8"      >abcdefgh......</char>
      <char id="0x39" text="9"      >abcd.fgh......</char>
      <char id="0x3a" text="?"      >abcdefghijklmn</char>  <!-- starburst, all segments on -->
      <char id="0x3b" text=";"      >......g......n</char>
      <char id="0x3c" text="&lt;"   >...d......k..n</char>
      <char id="0x3d" text="="      >...d..gh......</char>
      <char id="0x3e" text="&gt;"   >...d.......lm.</char>
      <char id="0x3f" text="?"      >ab...f.h.j....</char>
      <char id="0x40" text="?"      >....efgh......</char>  <!-- APP lazy T -->
      <char id="0x41" text="a"      >..cde.g.....m.</char>
      <char id="0x42" text="b"      >..cdefgh......</char>
      <char id="0x43" text="c"      >...de.gh......</char>
      <char id="0x44" text="d"      >.bcde.gh......</char>
      <char id="0x45" text="e"      >...de.g.......</char>
      <char id="0x46" text="?"      >a.............</char>  <!-- OVE overbar (hangman character - head only) -->
      <char id="0x47" text="?"      >a.......i.....</char>  <!-- SUP high-T (hangman head and neck/torso) -->
      <char id="0x48" text="?"      >a.......i....n</char>  <!-- HAN hangman with left leg -->
      <char id="0x49" text="?"      >a.......i...mn</char>  <!-- HAN hangman with left, right legs -->
      <char id="0x4a" text="?"      >a.....g.i...mn</char>  <!-- HAN hangman with both legs, left arm -->
      <char id="0x4b" text="?"      >a.....ghi...mn</char>  <!-- HAN full hangman -->
      <char id="0x4c" text="?"      >.b.....hi....n</char>  <!-- MIC Greek mu -->
      <char id="0x4d" text="?"      >...d..gh..k..n</char>  <!-- NOT not equal -->
      <char id="0x4e" text="?"      >a..d.......l.n</char>  <!-- SIG Greek Sigma -->
      <char id="0x4f" text="?"      >...d.....jk..n</char>  <!-- ANG angle symbol -->

<!-- Halfnut models have extra characters from 0x50 through 0x7f, which
     display as spaces on fullnuts.  See CHHU Chronicle V2N4 for details. -->

      <char id="0x50" text="?"      >......gh....mn</char>  <!-- DC1 Greek pi -->
      <char id="0x51" text="?"      >...d........mn</char>  <!-- BEL Greek alpha -->
      <char id="0x52" text="?"      >a..d..g...k.mn</char>  <!-- BAC Greek beta -->
      <char id="0x53" text="?"      >......gh.j....</char>  <!-- HTA Greek gamma -->
      <char id="0x54" text="?"      >.....fgh.j..m.</char>  <!-- UN unknown -->
      <char id="0x55" text="?"      >....e.gh.....n</char>  <!-- VTA Greek sigma -->
      <char id="0x56" text="?"      >a.............</char>  <!-- OVE overbar (hangman character - head only) (duplicate of 0x46) -->
      <char id="0x57" text="?"      >ab..ef........</char>  <!-- ESC Greek gamma -->
      <char id="0x58" text="?"      >a.......i....n</char>  <!-- HAN hangman with left leg (duplicate of 0x48) -->
      <char id="0x59" text="?"      >a.......i...mn</char>  <!-- HAN hangman with left, right legs (duplicate of 0x49) -->
      <char id="0x5a" text="?"      >a.....g.i...mn</char>  <!-- HAN hangman with both legs, left arm (duplicate of 0x4a) -->
      <char id="0x5b" text="?"      >a.....ghi...mn</char>  <!-- HAN full hangman (duplicate of 0x4b) -->
      <char id="0x5c" text="?"      >.b.....hi....n</char>  <!-- MIC Greek mu (duplicate of 0x4c) -->
      <char id="0x5d" text="?"      >...d..gh..k..n</char>  <!-- NOT not equal (duplicate of 0x4d) -->
      <char id="0x5e" text="?"      >...........lmn</char>  <!-- DC3 Greek lamda -->
      <char id="0x5f" text="?"      >...d.....jk..n</char>  <!-- ANG angle symbol (duplicate of 0x4f) -->
      <char id="0x60" text="?"      >a.......i.....</char>  <!-- SUP high-T (hangman head and neck/torso) (duplicate of 0x47) -->
      <char id="0x61" text="a"      >..cde.g.....m.</char>  <!-- duplicate of 0x41 -->
      <char id="0x62" text="b"      >..cdefgh......</char>  <!-- duplicate of 0x42 -->
      <char id="0x63" text="c"      >...de.gh......</char>  <!-- duplicate of 0x43 -->
      <char id="0x64" text="d"      >.bcde.gh......</char>  <!-- duplicate of 0x44 -->
      <char id="0x65" text="e"      >...de.g.......</char>  <!-- duplicate of 0x45 -->
      <char id="0x66" text="f"      >.......h.jk...</char>
      <char id="0x67" text="g"      >..cd...h....m.</char>
      <char id="0x68" text="h"      >..c.efgh......</char>
      <char id="0x69" text="i"      >....e.........</char>
      <char id="0x6a" text="j"      >..cd..........</char>
      <char id="0x6b" text="k"      >....efgh....m.</char>
      <char id="0x6c" text="l"      >....ef........</char>
      <char id="0x6d" text="m"      >..c...gh.j....</char>
      <char id="0x6e" text="n"      >..c...gh......</char>
      <char id="0x6f" text="o"      >..cde.gh......</char>
      <char id="0x70" text="p"      >....efg....l..</char>
      <char id="0x71" text="q"      >.....fg....lm.</char>
      <char id="0x72" text="r"      >....e.gh......</char>
      <char id="0x73" text="s"      >...d...h....m.</char>
      <char id="0x74" text="t"      >......ghi...m.</char>
      <char id="0x75" text="u"      >..cde.........</char>
      <char id="0x76" text="v"      >....e........n</char>
      <char id="0x77" text="w"      >....e........n</char>
      <char id="0x78" text="x"      >......gh.j...n</char>
      <char id="0x79" text="y"      >..cd........m.</char>
      <char id="0x7a" text="z"      >...d..g......n</char>
      <char id="0x7b" text="{"      >.......h..k.m.</char>  <!-- LEF left brace -->
      <char id="0x7c" text="?"      >...d......k.mn</char>  <!-- DEL delta -->
      <char id="0x7d" text=")"      >......g....l.n</char>  <!-- RIG right brace -->
      <char id="0x7e" text="?"      >a..d.......l.n</char>  <!-- duplicate of 0x4e -->
      <char id="0x7f" text="?"      >....efgh......</char>  <!-- duplicate of 0x40 -->
    </chargen>
  </chip>

  <chip id="coconut_lcd_1" type="coconut_lcd" index="1">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LA4</part_number>
    </part_info>
    <!-- second LCD chip is actually modelled as part of first, so no
         chargen element is needed here -->
  </chip>

  <chip type="nut_phineas">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1LF6-0001</part_number>  <!-- 20-pin plastic DIP -->
    </part_info>
  </chip>

  <keyboard>
    <key user_keycode="01" hw_keycode="0x18"/>
    <key user_keycode="02" hw_keycode="0xc6"/>
    <key user_keycode="03" hw_keycode="0xc5"/>
    <key user_keycode="04" hw_keycode="0xc4"/>

    <key user_keycode="11" hw_keycode="0x10"/>
    <key user_keycode="12" hw_keycode="0x30"/>
    <key user_keycode="13" hw_keycode="0x70"/>
    <key user_keycode="14" hw_keycode="0x80"/>
    <key user_keycode="15" hw_keycode="0xc0"/>

    <key user_keycode="21" hw_keycode="0x11"/>
    <key user_keycode="22" hw_keycode="0x31"/>
    <key user_keycode="23" hw_keycode="0x71"/>
    <key user_keycode="24" hw_keycode="0x81"/>
    <key user_keycode="25" hw_keycode="0xc1"/>

    <key user_keycode="31" hw_keycode="0x12"/>
    <key user_keycode="32" hw_keycode="0x32"/>
    <key user_keycode="33" hw_keycode="0x72"/>
    <key user_keycode="34" hw_keycode="0x82"/>
    <key user_keycode="35" hw_keycode="0xc2"/>

    <key user_keycode="41" hw_keycode="0x13"/>
    <key user_keycode="42" hw_keycode="0x73"/>
    <key user_keycode="43" hw_keycode="0x83"/>
    <key user_keycode="44" hw_keycode="0xc3"/>

    <key user_keycode="51" hw_keycode="0x14"/>
    <key user_keycode="52" hw_keycode="0x34"/>
    <key user_keycode="53" hw_keycode="0x74"/>
    <key user_keycode="54" hw_keycode="0x84"/>

    <key user_keycode="61" hw_keycode="0x15"/>
    <key user_keycode="62" hw_keycode="0x35"/>
    <key user_keycode="63" hw_keycode="0x75"/>
    <key user_keycode="64" hw_keycode="0x85"/>

    <key user_keycode="71" hw_keycode="0x16"/>
    <key user_keycode="72" hw_keycode="0x36"/>
    <key user_keycode="73" hw_keycode="0x76"/>
    <key user_keycode="74" hw_keycode="0x86"/>

    <key user_keycode="81" hw_keycode="0x17"/>
    <key user_keycode="82" hw_keycode="0x37"/>
    <key user_keycode="83" hw_keycode="0x77"/>
    <key user_keycode="84" hw_keycode="0x87"/>
  </keyboard>

  <obj_file addr_space="inst"
            copyright="Copyright 2006, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
            license="CC-BY-SA-3.0">
    41-nfldcc.rom
  </obj_file>
</calcdef>

