<?xml version="1.0"?>
<!--
Copyright 2022 Eric Smith <spacewar@gmail.com>
-->

<!DOCTYPE calcdef SYSTEM "http://nonpareil.brouhaha.com/dtd/calcdef-1.0.dtd">

<calcdef version="1.0"
         arch="Woodstock"
         platform="Topcat"
         model="91"
         copyright="Copyright 2022 Eric Smith &lt;spacewar@gmail.com&gt;"
         license="GPL-3.0">

  <chip id="act" type="woodstock_act">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1596</part_number>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
      <part_number>MK6216N</part_number>
    </part_info>
    <inst_clock osc_type="LC" freq="185000"/>
    <key_scanner as_flags="1"/>
  </chip>

  <chip id="cathode_driver" type="woodstock_cathode_driver_14">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1629</part_number>
    </part_info>
  </chip>

  <chip id="rom_0_anode_driver" type="woodstock_rom_anode_driver">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0190</part_number>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="00000" size="02000">
    </memory>
    <chargen type="segment" count="8">
      <char id="0x00">abcdef..</char>
      <char id="0x01">.bc.....</char>
      <char id="0x02">ab.de.g.</char>
      <char id="0x03">abcd..g.</char>
      <char id="0x04">.bc..fg.</char>
      <char id="0x05">a.cd.fg.</char>
      <char id="0x06">a.cdefg.</char>
      <char id="0x07">abc.....</char>
      <char id="0x08">abcdefg.</char>
      <char id="0x09">abcd.fg.</char>
      <char id="0x0a">....e.g.</char>  <!-- r -->
      <char id="0x0b">a..def..</char>  <!-- C -->
      <char id="0x0c">..cde.g.</char>  <!-- o -->
      <char id="0x0d">.bcde.g.</char>  <!-- d -->
      <char id="0x0e">a..defg.</char>  <!-- E -->
      <char id="0x0f">........</char>  <!-- space -->
      <char id="' '" >........</char>
      <char id="'-'" >......g.</char>
      <char id="'.'" >.......h</char>
    </chargen>
  </chip>

  <chip id="rom_1" type="woodstock_rom">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0191</part_number>
    </part_info>
    <part_info>
      <vendor_name>AMI</vendor_name>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="02000" size="02000">
    </memory>
  </chip>

  <chip id="rom_2" type="woodstock_rom">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0192</part_number>
    </part_info>
    <part_info>
      <vendor_name>AMI</vendor_name>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="04000" size="02000">
    </memory>
  </chip>

  <chip id="ram_0" type="woodstock_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
1      <part_number>1820-1564</part_number>
    </part_info>
    <memory addr_space="data" base_addr="000" size="0x10">
    </memory>
  </chip>

  <chip id="pick" type="woodstock_pick" flags="1">  
    <!-- config flag 1 enables paper advance button in GUI -->
    <!-- XXX CHARACTER SET WAS COPIED FROM 97, IS WRONG FOR 91 -->
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1680</part_number>
    </part_info>
    <chargen type="bitmap" count="35">
      <!-- space -->
      <char id="0x00">
	.....
        .....
        .....
        .....
        .....
        .....
	.....
      </char>

      <!-- x overbar, mean -->
      <char id="0x01">
	.***.
        .....
        *...*
        .*.*.
        ..*..
        .*.*.
        *...*
      </char>

      <!-- UC E -->
      <char id="0x02">
	*****
        *....
        *....
        ****.
        *....
        *....
        *****
      </char>
 
      <!-- UC C -->
      <char id="0x03">
	.***.
        *...*
        *....
        *....
        *....
        *...*
        .***.
      </char>

      <!-- UC R -->
      <char id="0x04">
	****.
        *...*
        *...*
        ****.
        *.*..
        *..*.
        *...*
      </char>

      <!-- UC G -->
      <char id="0x05">
	.***.
        *...*
        *....
        *....
        *..**
        *...*
        .***.
      </char>

      <!-- UC Sigma -->
      <char id="0x06">
	*****
        *...*
        .*...
        ..*..
        .*...
        *...*
        *****
      </char>

      <!-- bang, factorial -->
      <char id="0x07">
	..*..
        ..*..
        ..*..
        ..*..
        ..*..
        .....
        ..*..
      </char>

      <!-- hyphen -->
      <char id="0x08">
	.....
        .....
        .....
        *****
        .....
        .....
        .....
      </char>

      <!-- divide -->
      <char id="0x09">
	.....
        .**..
        .....
        *****
        .....
        ..**.
        .....
      </char>

      <!-- multiplication symbol -->
      <char id="0x0a">
	.....
        *...*
        .*.*.
        ..*..
        .*.*.
        *...*
        .....
      </char>
                      
      <!-- plus -->
      <char id="0x0b">
	.....
        ..*..
        ..*..
        *****
        ..*..
        ..*..
        .....
      </char>
                      
      <!-- UC S -->
      <char id="0x0c">
	.***.
        *...*
        *....
        .***.
        ....*
        *...*
        .***.
      </char>

      <!-- UC N -->
      <char id="0x0d">
	*...*
        *...*
        **..*
        *.*.*
        *..**
        *...*
        *...*
      </char>
                      
      <!-- UC L -->
      <char id="0x0e">
	*....
        *....
        *....
        *....
        *....
        *....
        *****
      </char>
                      
      <!-- UNKNOWN -->
      <char id="0x0f">
	.***.
        ..*..
        ..*..
        ..*..
        ..*..
        ..*..
        .***.
      </char>
                      
      <!-- y with circumflex, linear estimate -->
      <char id="0x10">
        ..*..
	.*.*.
        .....
        *...*
        .*.*.
        ..*..
	..*..
      </char>

      <!-- superscript -1 -->
      <char id="0x11">
	....*
        ....*
        ***.*
        ....*
        .....
        .....
        .....
      </char> 

      <!-- pi -->
      <char id="0x12">
	.....
        ....*
        .***.
        **.*.
        .*.*.
        .*.*.
	.*.*.
      </char>

      <!-- percent -->
      <char id="0x13">
	**...
        **..*
        ...*.
        ..*..
        .*...
        *..**
        ...**
      </char>

      <!-- exchange, right arrow over left arrow -->
      <char id="0x14">
	...*.
        *****
        ...*.
        .....
        .*...
        *****
        .*...
      </char>

      <!-- UC delta -->
      <char id="0x15">
        .....
        ..*..
        ..*..
        .*.*.
        .*.*.
	*...*
        *****
      </char>
                      
      <!-- UC M -->
      <char id="0x16">
	*...*
        **.**
        *.*.*
        *.*.*
        *...*
        *...*
        *...*
      </char>
                      
      <!-- UC H -->
      <char id="0x17">
	*...*
        *...*
        *...*
        *****
        *...*
        *...*
        *...*
      </char> 
                      
      <!-- UC P -->
      <char id="0x18">
	****.
        *...*
        *...*
        ****.
        *....
        *....
	*....
      </char>

      <!-- LC e -->
      <char id="0x19">
	.....
        .....
        .***.
        *...*
        ****.
        *....
        .***.
      </char>

      <!-- UC I -->
      <char id="0x1a">
	.***.
        ..*..
        ..*..
        ..*..
        ..*..
        ..*..
        .***.
      </char>

      <!-- UNKNOWN -->
      <char id="0x1b">
	*....
        *....
        *....
        *.**.
        **..*
        **..*
        *.**.
      </char>

      <!-- up arrow -->
      <char id="0x1c">
	..*..
        .***.
        *.*.*
        ..*..
        ..*..
        ..*..
        ..*..
      </char>

      <!-- down arrow -->
      <char id="0x1d">
	..*..
        ..*..
        ..*..
        ..*..
        *****
        .***.
        ..*..
      </char>

      <!-- UNKNOWN -->
      <char id="0x1e">
	.....
        .....
        .***.
        *...*
        ****.
        *....
        .***.
      </char>

      <!-- UNKNOWN -->
      <char id="0x1f">
	..**.
        ..**.
        .....
        ..**.
        ..**.
        ..**.
        ..**.</char>

      <!-- space -->
      <char id="0x20">
	.....
        .....
        .....
        .....
        .....
        .....
        .....
      </char>

      <!-- asterisk -->
      <char id="0x21">
	.....
        ..*..
        *.*.*
        .***.
        *.*.*
        ..*..
        .....
      </char>

      <!-- UC T -->
      <char id="0x22">
	*****
        ..*..
        ..*..
        ..*..
        ..*..
        ..*..
        ..*..
      </char>

      <!-- UC Z -->
      <char id="0x23">
	*****
        ....*
        ...*.
        ..*..
        .*...
        *....
        *****
      </char>

      <!-- UC Y -->
      <char id="0x24">
	*...*
        *...*
        .*.*.
        ..*..
        ..*..
        ..*..
        ..*..
      </char>

      <!-- UC X -->
      <char id="0x25">
	*...*
        *...*
        .*.*.
        ..*..
        .*.*.
        *...*
	*...*
      </char>

      <!-- UC theta -->
      <char id="0x26">
	.***.
        *...*
        *...*
        *****
        *...*
        *...*
	.***.
      </char>

      <!-- UC R -->
      <char id="0x27">
	****.
        *...*
        *...*
        ****.
        *.*..
        *..*.
        *...*
      </char>

      <!-- UC A -->
      <char id="0x28">
	..*..
        .*.*.
        *...*
        *...*
        *****
        *...*
        *...*
      </char>

      <!-- UC A -->
      <char id="0x29">
	..*..
        .*.*.
        *...*
        *...*
        *****
        *...*
        *...*
      </char>

      <!-- UNKNOWN -->
      <char id="0x2a">
	..*..
        ..*..
        ..*..
        ..*..
        ..*..
        .....
	..*..
      </char>

      <!-- right arrow -->
      <char id="0x2b">
	.....
        ..*..
        ...*.
        *****
        ...*.
        ..*..
        .....
      </char> 

      <!-- superscript x -->
      <char id="0x2c">
	*..*.
        .**..
        .**..
        *..*.
        .....
        .....
	.....
      </char>

      <!-- superscript 2 -->
      <char id="0x2d">
	.***.
        *...*
        ..**.
        .*...
        .****
        .....
        .....
      </char>

      <!-- square root -->
      <char id="0x2e">
	..***
        ..*..
        ..*..
        *.*..
        .**..
        ..*..
	..*..
      </char>

      <!-- UNKNOWN -->
      <char id="0x2f">
	.....
        *...*
        .*.*.
        ..*..
        .*.*.
        *...*
	.....
      </char>

      <!-- zero and O -->
      <char id="0x30">
	.***.
        *...*
        *...*
        *...*
        *...*
        *...*
        .***.
      </char>

      <!-- one -->
      <char id="0x31">
	..*..
        .**..
        ..*..
        ..*..
        ..*..
        ..*..
        .***.
      </char>

      <!-- two -->
      <char id="0x32">
	.***.
        *...*
        ....*
        ..**.
        **...
        *....
        *****
      </char>

      <!-- three -->
      <char id="0x33">
	*****
        ....*
        ...*.
        ..**.
        ....*
        *...*
        .***.</char>

	<!-- four -->
      <char id="0x34">
	...*.
        ..**.
        .*.*.
        *..*.
        *****
        ...*.
        ...*.
      </char>

      <!-- five -->
      <char id="0x35">
	*****
        *....
        ****.
        ....*
        ....*
        *...*
        .***.
      </char>

      <!-- six -->
      <char id="0x36">
	..***
        .*...
        *....
        ****.
        *...*
        *...*
        .***.
      </char>

      <!-- seven -->
      <char id="0x37">
	*****
        ....*
        ...*.
        ..*..
        .*...
        .*...
        .*...
      </char>

      <!-- eight -->
      <char id="0x38">
	.***.
        *...*
        *...*
        .***.
        *...*
        *...*
        .***.
      </char>

      <!-- nine -->
      <char id="0x39">
	.***.
        *...*
        *...*
        .****
        ....*
        ...*.
	***..
      </char>

      <!-- period -->
      <char id="0x3a">
	.....
        .....
        .....
        .....
        .....
        .**..
	.**..
      </char>

      <!-- hyphen -->
      <char id="0x3b">
	.....
        .....
        .....
        *****
        .....
        .....
	.....
      </char>

      <!-- UNKNOWN -->
      <char id="0x3c">
	.....
        ..*..
        ..*..
        *****
        ..*..
        ..*..
	.....
      </char>

      <!--- left arrow -->
      <char id="0x3d">
	.....
        ..*..
        .*...
        *****
        .*...
        ..*..
	.....
      </char>

      <!-- space -->
      <char id="0x3e">
	.....
        .....
        .....
        .....
        .....
        .....
	.....
      </char>

      <!-- end -->
      <char id="0x3f">
	.....
        .....
        .....
        .....
        .....
        .....
	.....
      </char>
    </chargen>
  </chip>

  <keyboard>

    <!-- power switch, top left -->
    <!--
    <switch number="0">
      <switch_pos position="0" flag="power" value="0"/>
      <switch_pos position="1" flag="power" value="1"/>
    </switch>
    -->

    <!-- printer mode, top right-->
    <switch number="1">
      <switch_pos position="0">  <!-- MAN -->
        <flag chip_id="act" number="f1-cond-s0" value="0"/>
        <flag chip_id="act" number="ka" value="1"/>
      </switch_pos>
      <switch_pos position="1">  <!-- ALL -->
        <flag chip_id="act" number="f1-cond-s0" value="0"/>
        <flag chip_id="act" number="ka" value="0"/>
      </switch_pos>
      <switch_pos position="2">  <!-- NORM -->
        <flag chip_id="act" number="f1-cond-s0" value="1"/>
        <flag chip_id="act" number="ka" value="0"/>
      </switch_pos>
    </switch>

    <!-- angle units, bottom right -->
    <switch number="2">
      <switch_pos position="0">  <!-- DEG -->
        <flag chip_id="act" number="kc" value="1"/>
        <flag chip_id="act" number="kd" value="0"/>
      </switch_pos>
      <switch_pos position="1">  <!-- GRD -->
        <flag chip_id="act" number="kc" value="0"/>
        <flag chip_id="act" number="kd" value="0"/>
      </switch_pos>
      <switch_pos position="2">  <!-- RAD -->
        <flag chip_id="act" number="kc" value="0"/>
        <flag chip_id="act" number="kd" value="1"/>
      </switch_pos>
    </switch>
                                                               <!-- unshifted shifted   -->
    <key user_keycode="11"  chip_id="pick" hw_keycode="0xc0"/> <!-- sqrt      HMS+      -->
    <key user_keycode="12"  chip_id="pick" hw_keycode="0x90"/> <!-- x^2       HMS-      -->
    <key user_keycode="13"  chip_id="pick" hw_keycode="0x50"/> <!-- y^x       ->HMS     -->
    <key user_keycode="14"  chip_id="pick" hw_keycode="0xd0"/> <!-- 1/x       HMS->     -->
						           
    <key user_keycode="21"  chip_id="pick" hw_keycode="0xc1"/> <!-- SIN       SIN-1     -->
    <key user_keycode="22"  chip_id="pick" hw_keycode="0x91"/> <!-- COS       COS-1     -->
    <key user_keycode="23"  chip_id="pick" hw_keycode="0x51"/> <!-- TAN       TAN-1     -->
    <key user_keycode="24"  chip_id="pick" hw_keycode="0xd1"/> <!-- P->R      s         -->
						           
    <key user_keycode="31"  chip_id="pick" hw_keycode="0xc4"/> <!-- %         Delta%    -->
    <key user_keycode="32"  chip_id="pick" hw_keycode="0x94"/> <!-- %Sigma    n!        -->
    <key user_keycode="33"  chip_id="pick" hw_keycode="0x54"/> <!-- lin est   L.R.      -->
    <key user_keycode="34"  chip_id="pick" hw_keycode="0xd4"/> <!-- R->P      mean      -->

    <key user_keycode="41"  chip_id="pick" hw_keycode="0xc8"/> <!-- e^x       10^x      -->
    <key user_keycode="42"  chip_id="pick" hw_keycode="0x98"/> <!-- ln        log       -->
    <key user_keycode="43"  chip_id="pick" hw_keycode="0x78"/> <!-- Sigma+    Sigma-    -->
    <key user_keycode="44"  chip_id="pick" hw_keycode="0x38"/> <!-- f                   -->
						           
    <key user_keycode="-11" chip_id="pick" hw_keycode="0xa4"/> <!-- x<>y                -->
    <key user_keycode="-12" chip_id="pick" hw_keycode="0xd8"/> <!-- RDN                 -->
    <key user_keycode="-13" chip_id="pick" hw_keycode="0x58"/> <!-- RUP                 -->
    <key user_keycode="-14" chip_id="pick" hw_keycode="0xe8"/> <!-- PRINT x             -->
						           
    <key user_keycode="-21" chip_id="pick" hw_keycode="0xa1"/> <!-- ENTER^    LIST STK   -->
    <key user_keycode="-22" chip_id="pick" hw_keycode="0xa8"/> <!-- CHS       LIST REG   -->
    <key user_keycode="-23" chip_id="pick" hw_keycode="0xb8"/> <!-- EEX       LIST Sigma -->
    <key user_keycode="-24" chip_id="pick" hw_keycode="0x14"/> <!-- divide    CLR REG    -->
						           
    <key user_keycode="-31" chip_id="pick" hw_keycode="0x48"/> <!-- STO       pi         -->
    <key user_keycode="-32" chip_id="pick" hw_keycode="0xb0"/> <!-- 7                    -->
    <key user_keycode="-33" chip_id="pick" hw_keycode="0x40"/> <!-- 8                    -->
    <key user_keycode="-34" chip_id="pick" hw_keycode="0x20"/> <!-- 9                    -->
    <key user_keycode="-35" chip_id="pick" hw_keycode="0x10"/> <!-- multiply  CLR Sigma  -->
						           
    <key user_keycode="-41" chip_id="pick" hw_keycode="0x64"/> <!-- RCL       LASTx      -->
    <key user_keycode="-42" chip_id="pick" hw_keycode="0xb1"/> <!-- 4                    -->
    <key user_keycode="-43" chip_id="pick" hw_keycode="0x41"/> <!-- 5                    -->
    <key user_keycode="-44" chip_id="pick" hw_keycode="0x21"/> <!-- 6                    -->
    <key user_keycode="-45" chip_id="pick" hw_keycode="0x11"/> <!-- subtract             -->
						           
    <key user_keycode="-51" chip_id="pick" hw_keycode="0xa0"/> <!-- CLx       CLEAR      -->
    <key user_keycode="-52" chip_id="pick" hw_keycode="0xb4"/> <!-- 1                    -->
    <key user_keycode="-53" chip_id="pick" hw_keycode="0x44"/> <!-- 2                    -->
    <key user_keycode="-54" chip_id="pick" hw_keycode="0x24"/> <!-- 3                    -->
    <key user_keycode="-55" chip_id="pick" hw_keycode="0x18"/> <!-- add                  -->
						           
    <key user_keycode="-61" chip_id="pick" hw_keycode="0x84"/> <!-- 0                    -->
    <key user_keycode="-62" chip_id="pick" hw_keycode="0x74"/> <!-- .         ENG        -->
    <key user_keycode="-63" chip_id="pick" hw_keycode="0x28"/> <!-- FIX       SCI        -->

  </keyboard>

  <obj_file addr_space="inst"
            copyright="Copyright 2022 Eric Smith &lt;spacewar@gmail.com&gt;"
            license="GPL-3.0">91.obj</obj_file>

</calcdef>
