<?xml version="1.0"?>
<!--
$Id$
Copyright 2007, 2008 Eric Smith <eric@brouhaha.com>
-->

<!DOCTYPE calcdef SYSTEM "http://nonpareil.brouhaha.com/dtd/calcdef.dtd">

<calcdef version="1.0"
         arch="Woodstock"
         platform="Woodstock"
         model="67"
         copyright="Copyright 2007, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
         license="GPL-3.0">

  <!-- ACT -->
  <chip chip_id="act" chip_type="woodstock_act">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1596</part_number>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
      <part_number>MK6216N</part_number>
    </part_info>
    <inst_clock osc_type="LC" freq="185000"/>
  </chip>

  <!-- cathode driver, 12-digit -->
  <chip chip_id="cathode_driver" chip_type="woodstock_cathode_driver_12">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1382</part_number>
    </part_info>
  </chip>

  <!-- ROM/anode driver -->
  <chip chip_id="rom_anode_driver" chip_type="woodstock_rom_anode_driver">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0268</part_number>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
      <part_number>MK60038N</part_number>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="00000" size="02000">
    </memory>
    <chargen>
      <char id="0x00" segments="abcdef  " />
      <char id="0x01" segments=" bc     " />
      <char id="0x02" segments="ab de g " />
      <char id="0x03" segments="abcd  g " />
      <char id="0x04" segments=" bc  fg " />
      <char id="0x05" segments="a cd fg " />
      <char id="0x06" segments="a cdefg " />
      <char id="0x07" segments="abc     " />
      <char id="0x08" segments="abcdefg " />
      <char id="0x09" segments="abcd fg " />
      <char id="0x0a" segments="    e g " />  <!-- r -->
      <char id="0x0b" segments="a  def  " />  <!-- C -->
      <char id="0x0c" segments="  cde g " />  <!-- o -->
      <char id="0x0d" segments=" bcde g " />  <!-- d -->
      <char id="0x0e" segments="a  defg " />  <!-- E -->
      <char id="0x0f" segments="        " />  <!-- space -->
      <char id="' '"    segments="        " />
      <char id="'-'"    segments="      g " />
      <char id="'.'"    segments="       h" />
    </chargen>
  </chip>

  <chip id="rom_ram_0" chip_type="woodstock_rom_arm">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0550</part_number>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="02000" size="02000">
    </memory>
    <memory addr_space="data" base_addr="0x00" size="0x10">
    </memory>
  </chip>

  <chip id="rom_ram_1" chip_type="woodstock_rom_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0551</part_number>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="04000" size="02000">
    </memory>
    <memory addr_space="data" base_addr="0x10" size="0x10">
    </memory>
  </chip>

  <chip id="rom_ram_2" chip_type="woodstock_rom_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0232</part_number>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
      <part_number>MK60175N</part_number>
    </part_info>
    <memory addr_space="inst" banks="0" base_addr="06000" size="02000">
    </memory>
    <memory addr_space="data" base_addr="0x20" size="0x10">
    </memory>
  </chip>

  <chip id="rom_ram_3" chip_type="woodstock_rom_ram">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1818-0231</part_number>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
      <part_number>MK60176N</part_number>
    </part_info>
    <memory addr_space="inst" banks="1" base_addr="02000" size="02000">
    </memory>
    <memory addr_space="data" base_addr="0x30" size="0x10">
    </memory>
  </chip>

  <chip id="crc" chip_type="woodstock_crc">
    <part_info>
      <vendor_name>HP</vendor_name>
      <part_number>1820-1751</part_number>
    </part_info>
    <part_info>
      <vendor_name>Mostek</vendor_name>
      <part_number>MK6250N</part_number>
    </part_info>
    <memory addr_space="data" base_addr="0x99" size="0x03">
    </memory>
  </chip>

  <obj_file addr_space="inst"
            copyright="Copyright 2007, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
            license="GPL-3.0">67.obj</obj_file>
  <obj_file addr_space="inst"
            copyright="Copyright 2007, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
            license="GPL-3.0">6797.obj</obj_file>
  <obj_file addr_space="inst"
            copyright="Copyright 2007, 2008 Eric Smith &lt;eric@brouhaha.com&gt;"
            license="GPL-3.0">67b1.obj</obj_file>

  <keyboard>

    <switch number="0">  <!-- power switch -->
      <switch_pos position="0">
      </switch_pos>
      <switch_pos position="1">
      </switch_pos>
    </switch>

    <switch number="1">
      <switch_pos position="0">
        <flag chip_id="crc" number="1" value="0"/>
      </switch_pos>
      <switch_pos position="1">
        <flag chip_id="crc" number="1" value="1"/>
      </switch_pos>
    </switch>

    <key user_keycode="11" hw_keycode="0244"/>
    <key user_keycode="12" hw_keycode="0243"/>
    <key user_keycode="13" hw_keycode="0242"/>
    <key user_keycode="14" hw_keycode="0241"/>
    <key user_keycode="15" hw_keycode="0240"/>

    <key user_keycode="21" hw_keycode="0224"/>
    <key user_keycode="22" hw_keycode="0223"/>
    <key user_keycode="23" hw_keycode="0222"/>
    <key user_keycode="24" hw_keycode="0221"/>
    <key user_keycode="25" hw_keycode="0220"/>

    <key user_keycode="31" hw_keycode="0024"/>
    <key user_keycode="32" hw_keycode="0023"/>
    <key user_keycode="33" hw_keycode="0022"/>
    <key user_keycode="34" hw_keycode="0021"/>
    <key user_keycode="35" hw_keycode="0020"/>

    <key user_keycode="41" hw_keycode="0063"/>
    <key user_keycode="42" hw_keycode="0062"/>
    <key user_keycode="43" hw_keycode="0061"/>
    <key user_keycode="44" hw_keycode="0060"/>

    <key user_keycode="51" hw_keycode="0103"/>
    <key user_keycode="52" hw_keycode="0102"/>
    <key user_keycode="53" hw_keycode="0101"/>
    <key user_keycode="54" hw_keycode="0100"/>

    <key user_keycode="61" hw_keycode="0123"/>
    <key user_keycode="62" hw_keycode="0122"/>
    <key user_keycode="63" hw_keycode="0121"/>
    <key user_keycode="64" hw_keycode="0120"/>

    <key user_keycode="71" hw_keycode="0143"/>
    <key user_keycode="72" hw_keycode="0142"/>
    <key user_keycode="73" hw_keycode="0141"/>
    <key user_keycode="74" hw_keycode="0140"/>

    <key user_keycode="81" hw_keycode="0163"/>
    <key user_keycode="82" hw_keycode="0162"/>
    <key user_keycode="83" hw_keycode="0161"/>
    <key user_keycode="84" hw_keycode="0160"/>
  </keyboard>

</calcdef>
